/*general class*/
.m_r_5{
    margin-right: 5px;
}
.m_l_5{
    margin-left: 5px;
}
.m_tb_5{
    margin: 5px 0;
}
.m_lr_5{
    margin: 0 5px;
}
.m_lr_10{
    margin: 0 10px;
}
.brd_1{
    border-width: 1px;
    border-style: solid;
}
.brd_b{
    border-color: #e3e9fb;
}
.brd_r{
    border-color: #ffe0e4;
}
.brd_r_2{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.cfas_field_text{
    font-size: 15px;
    font-weight: bold;
}
.txt_b{
    color: #3e74e8;
}
.txt_r{
    color: #e8513b;
}
.p_5{
    padding: 5px;
}
.d_flx{
    display: flex;
}
.j_cntr{
    justify-content: center;
}
.aln_cntr{
    align-items: center;
}
.back_b{
    background: #f7faff;
}

.back_r{
    background: #fff5f5;
}

.add_rule,
.del_rule{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3e74e8;
    cursor: pointer;
}


span.add_rule:before,
span.del_rule:before{
    content: '';
    display: inline-block;
    width: 10px;
    border: 1px solid #3e74e8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span.add_rule:after{
    content: '';
    display: inline-block;
    height: 10px;
    border: 1px solid #3e74e8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*cfas_auto_click*/
.cfas_add_rule_btn{
    background: #f7faff;
    border: 2px dashed #e3e9fb;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #0000006e;
    cursor: pointer;
}
.cfas_add_rule_btn:focus,
.cfas_auto_body select:focus{
    outline: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
}
.cfas_auto_body select:focus{
    border-color: #e3e9fb !important;
}
.cfas_rules_body{

    border: 1px solid #e3e9fb;
    margin-bottom: 10px;
}
.cfas_rule_top{
    display: flex;
    align-items: center;
}
.cfas_auto_body select{
    border: 1px solid #e3e9fb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*Entries list*/
.cfas-entries-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#cfas-entries-setting{
    padding: 5px;
    border: 1px solid #888;
    border-radius: 3px;
    cursor: pointer;
    color: #888;
}
.cfas-entries-head-btn{
    display: flex;
    align-items: center;
}
.cfas-entries-type{
    display: flex;
    float: left;
    margin: 0;
}
.cfas-entries-type .separator{
    margin: 0 5px;
}
.cfas-entris-search{
    float: right;
}
.cfas-columns-setting {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #00000096;
}
.cfas-settings-container{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.cfas-setting-header {
    text-align: right;
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #000;
}
html[dir=rtl] .cfas-setting-header {
    text-align: left;
}
#cfas-close-setting>span{
    margin-top: 1px;
}
.cfas-setting-form{
    background-color: #eee;
    padding: 20px;
    max-height: 300px;
    overflow-y: scroll;
}
.cfas-normal-btn{
    background: #007cba;
    border-color: #007cba;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    border: 0 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 1.8;
    cursor: pointer;
}
.cfas-normal-btn:focus{
    outline: none;
}
.cfas-setting-footer{
    text-align: left;
    margin-top: 20px;
}
html[dir=rtl] .cfas-setting-footer{
    text-align: right;
}

.cfas-entries-type>li{
	display: flex;
    align-items: center;
	position: relative;
}
.cfas-entries-type>li:after{
	content: '';
	display: inline-block;
	height: 12px;
	position: absolute;
	left: 100%;
	top: 50%;
	border: 0 solid #666;
	border-width: 0 1px 0 0;
	transform: translateY(-50%);
}
html[dir=rtl] .cfas-entries-type>li:after{
	right: 100%;
}
.cfas-entries-type>li:last-child:after{
	display: none !important;
}
.cfas-entries-type>li>a{
	padding: 0 .5em;
	text-decoration: none;
}
.cfas-entries-type>li:first-child>a{
	padding: 0 .5em 0 0;
}
html[dir=rtl] .cfas-entries-type>li:first-child>a{
	padding: 0 0 0 .5em;
}
.cfas-entries-type .cfas-all-count{
	color: #555;
}

/*Entry detail*/
.cfas-entry-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cfas-back{
    font-size: 18px;
    margin: 0 8px;
    text-decoration: none;
}
.entry-detail-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.entry-main-section{
    width: calc(100% - 300px);
    margin-bottom: 20px;
}
.entry-sidebar-section{
    width: 280px;
}
@media screen and (max-width: 850px) {
    .entry-main-section,
    .entry-sidebar-section{
        width: 100%;
    }
}
.cfas-entry-detail-table{
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px #ccd0d4;
    -o-box-shadow: 0 1px 1px #ccd0d4;
    -moz-box-shadow: 0 1px 1px #ccd0d4;
    -webkit-box-shadow: 0 1px 1px #ccd0d4;
    border-spacing: 0 !important;
}
#cfas-entry-number{
    border-bottom: 1px solid #ccd0d4;
    padding: 8px 10px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}
html[dir=rtl] #cfas-entry-number{
    text-align: right;
}
.cfas-entry-field-name{
    font-weight: 700;
    background-color: #EAF2FA;
    border-bottom: 1px solid #FFF;
    line-height: 1.5;
    padding: 7px;
}
.cfas-entry-field-value{
    border-bottom: 1px solid #DFDFDF;
    padding: 7px 7px 7px 40px;
    line-height: 1.8;
}
html[dir=rtl] .cfas-entry-field-value{
    padding: 7px 40px 7px 7px;
}
.cfas-single-entry {
    display: flex;
    align-items: center;
}
span.cfas-dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #777;
    margin: 0 5px 0 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
html[dir=rtl] span.cfas-dot{
    margin: 0 0 0 5px;
}

#cfas-entry-info{
    background-color: #fff;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px #ccd0d4;
    -o-box-shadow: 0 1px 1px #ccd0d4;
    -moz-box-shadow: 0 1px 1px #ccd0d4;
    -webkit-box-shadow: 0 1px 1px #ccd0d4;
}
.cfas-box-header h2{
    padding: 8px 10px;
    margin: 0 !important;
}
#cfas-entry-info-body{
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 3;
}
#cfas-publishing-actions{
    padding: 10px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
